<!DOCTYPE html>
<html ng-app="Player">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <div ui-view></div>
  </body>
</html>
