<!DOCTYPE html>
<html ng-app="Player">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <div ng-controller="SongsController">
      <h1>Upload files here</h1>
      <div class="button" ngf-select="upload($files)" multiple="multiple">Upload on file select</div>
      <h2>Selected files</h2>
      <ul>
        <li ng-repeat="file in files">
          {{file.name}} - {{file.type}}
          <span ng-if="file.error"> - {{file.error}}</span>
        </li>
      </ul>
      <div ng-if="process">
        {{process}}%
      </div>
    </div>
  </body>
</html>
